<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoofdstukken</title>
</head>
<body>
<ul>
    <li>9-14 : Aanbrengen van colloïdaal beton</li>
    <li> 9-15 : Groutscherm</li>
    <li> 9-16 : Drainbuis met grindfilter t.p.v. kunstwerken</li>
    <li> 9-17 : Afdichtingsplaten van geprefabriceerd gewapend beton</li>
    <li> 9-18 : Bevestigingssysteem met chemische ankers</li>
    <li> 9-19 : Flexibel anti-wortelscherm</li>
    <li> 9-20 : Regiewerken</li>
    <li> 9-21 : Kopmuren</li>
    <li> 9-22 : Verholen goten in prefabbeton</li>
    <li> 9-23 : Terugplaatsen van afsluitingen en muurtjes</li>
    <li> 9-24 : Metalen afsluitingen met draadgaas</li>
    <li> 9-25 : Metalen toegangspoort</li>
    <li> 9-26 : Plaatsen van wachtkokers voor leidingen van openbaar nut</li>
    <li> 9-27 : Enkelvoudige en/of meerdelige controleluiken</li>
    <li> 9-28 : Metalen trappen</li>
    <li> 9-29 : Leuning</li>
    <li> 9-30 : Looproosters</li>
    <li> 9-31 : In de grond gevormde gewapende betonwand d.m.v. secanspalen</li>
    <li> 9-32 : Micropalen</li>
    <li> 9-33 : Ondervangen van funderingsmuren</li>
    <li> 9-34 : Het op hoogte brengen van kelderdeksel en/of roosters met metselstenen en/of ongewapend beton</li>
    <li> 9-35 : Funderingsverbeteringstechnieken</li>
    <li> 9-37 : Stalen damwanden</li>
    <li> 9-38 : Werken voor verleggen leidingen openbaar nut</li>
    <li> 9-40 : Kruising onder bestaande riolering met nieuwe buisleiding</li>
    <li> 10 : Signalisatie</li>
    <li> 10-1 : Verticale signalisatie en wegbebakening</li>
    <li> 10-2 : Markeringen</li>
    <li> 10-4 : Signalisatie van werken</li>
    <li> 10-10 : Vaarwegsignalisatie</li>
    <li> 10-11 : Werfsignalisatie op de vaarweg</li>
    <li> 11 : Groenaanleg en groenbeheer</li>
    <li> 11-2 : Grondbewerkingen</li>
    <li> 11-3 : Verwerken van bodemverbeteringsmiddelen</li>
    <li> 11-4 : Verwerken van meststoffen</li>
    <li> 11-5 : Natuurlijke vegetatieontwikkeling</li>
    <li> 11-6 : Aanleg van graslanden, wegbermen en grasmatten</li>
    <li> 11-7 : Aanleg van kruidachtige vegetaties</li>
    <li> 11-8 : Aanleg van houtige vegetaties</li>
    <li> 11-9 : Aanleg van water-, moeras- en oeverbeplantingen</li>
    <li> 11-10 : Aanleg van bij groenaanleg behorende constructies</li>
    <li> 11-11 : Beheer van graslanden, wegbermen en grasmatten</li>
    <li> 11-12 : Beheer van kruidachtige vegetaties</li>
    <li> 11-13 : Beheer van bomen</li>
    <li> 11-14 : Beheer van hagen, bosgoed en heesters</li>
    <li> 11-15 : Beheer van water-, moeras-, en oeverbeplanting</li>
    <li> 11-16 : Beheer van invasieve exoten</li>
    <li> 11-17 : Transferten voor het verwerken van groenafval 11-17</li>
    <li> 11-20 : Zandfixatie</li>
    <li> 12 : Onderhouds- en Herstellingswerken</li>
    <li> 12-1 : Onderhouds- en herstellingswerken aan cementbetonverhardingen</li>
    <li> 12-2 : Onderhouds- en herstellingswerken aan bitumineuze verhardingen</li>
    <li> 12-3 : Overlaging in cementbeton</li>
    <li> 12-4 : Bitumineuze overlagingen</li>
    <li> 12-5 : Bestrijkingen</li>
    <li> 12-6 : Slemlagen</li>
    <li> 12-7 : Bestrijking met slemafdichting</li>
    <li> 12-8 : Dunne overlagingen</li>
    <li> 12-9 : Ruimen van sloten</li>
    <li> 12-10 : Beheer ongewenste vegetatie op (half)verhardingen</li>
    <li> 12-11 : Sleufherstellingen</li>
    <li> 12-12 : Ruiming en reiniging van wegen en toebehoren</li>
    <li> 12-13 : Herstellen van lijnvormige elementen</li>
    <li> 12-14 : Herstellen van huistoegangen</li>
    <li> 13 : Werken aan Waterlopen</li>
    <li> 13-1 : Onderhoud</li>
    <li> 13-2 : Beschermingswerken</li>
    <li> 13-10 : Vooroeververdedigingen</li>
    <li> 13-11 : Penetratie met bitumineus gebonden materiaal</li>
    <li> 13-12 : Penetratie met open colloïdaal beton</li>
    <li> 13-13 : Betegelingen - gebonden en ongebonden</li>
    <li> 13-14 : Gebonden open bekleding</li>
    <li> 21 : Ontwerp, studie en berekeningsnota's</li>
    <li> 21-9 : Studie van de constructie</li>
    <li> 22 : Grondonderzoek</li>
    <li> 22-2 : Monstername en proeven in situ</li>
    <li> 22-3 : Werkplaform voor het uitvoeren van proeven in situ te water</li>
    <li> 22-4 : Proeven in labo</li>
    <li> 23 : Baggerwerken</li>
    <li> 23-2 : Vooronderzoek</li>
    <li> 23-3 : Baggeren</li>
    <li> 23-4 : Vervoeren</li>
    <li> 23-5 : Overname van specie</li>
    <li> 23-6 : Behandelen</li>
    <li> 23-7 : Bergen</li>
    <li> 24 : Geotechnische constructie-elementen en constructies</li>
    <li> 24-1 : Palen, putten en caissons</li>
    <li> 24-2 : Damwanden</li>
    <li> 24-3 : Funderingswanden</li>
    <li> 24-4 : Beschoeiingen en stutwerken</li>
    <li> 24-5 : Grondankers</li>
    <li> 24-6 : Versnelde consolidatie</li>
    <li> 24-10 : Strandhoofden</li>
    <li> 24-11 : Golfbrekers</li>
    <li> 24-12 : Zeedijken</li>
    <li> 25 : Beton, wapening en betonconstructies</li>
    <li> 25-5 : Wapening</li>
    <li> 25-6 : Ter plaatse gestort beton en extra handelingen</li>
    <li> 25-7 : Gesloten colloidaal beton</li>
    <li> 25-8 : Geprefabriceerd beton</li>
    <li> 26 : Staal en staalconstructies</li>
    <li> 26-2 : Staalconstructies in constructiestaal en roestvaststaal</li>
    <li> 26-3 : Lekdichtheidstest</li>
    <li> 26-4 : Proefmontage van de staalconstructie</li>
    <li> 26-5 : Opstellen van de staalconstructie voor bewerking door de opdrachtnemer EMU</li>
    <li> 26-6 : Vervoer, lossen en opslaan op de bouwplaats van de staalconstructie</li>
    <li> 26-7 : Definitieve montage op de bouwplaats van de staalconstructie</li>
    <li> 30 : Hout en houten constructieonderdelen</li>
    <li> 30-3 : Damwanden en beschoeiingen 250-13</li>
    <li> 30-4 : Wrijfbalken en bergbalken in hout</li>
    <li> 30-5 : Schotbalken in hout</li>
    <li> 30-6 : Horizontale delen leuningen in hout</li>
    <li> 30-7 : Aanslagbalken in hout</li>
    <li> 30-8 : Hout voor sluisdeuren en stuwen</li>
    <li> 30-9 : Beplanking in hout</li>
    <li> 30-10 : Houten palen</li>
    <li> 30-11 : Constructiebalken (voor o.a. steigers, staketsels, geleidewerken, brugdekken en leuningen)</li>
    <li> 32 : Uitrustingen en aanhorigheden</li>
    <li> 32-1 : Leuningen</li>
    <li> 32-2 : Loopvloeren</li>
    <li> 32-3 : Waterdichte deksels en luiken</li>
    <li> 32-4 : Afdichtingen van voegen, voegbanden en -platen</li>
    <li> 32-5 : Reddingsmaterieel</li>
    <li> 32-6 : Verankeringen van stalen onderdelen in beton</li>
    <li> 32-7 : Verankeringen van wapeningsstaven</li>
    <li> 32-8 : Mechanische onderdelen</li>
    <li> 32-9 : Schotbalken</li>
    <li> 32-10 : Verkenmerken en referentieverkenmerken</li>
    <li> 32-11 : Rails en wielen</li>
    <li> 32-12 : Drainerend scherm achter verticale wanden</li>
    <li> 32-21 : Waterdichte bedekking voor brugdekken</li>
    <li> 32-31 : Brugdekvoegen</li>
    <li> 32-32 : Sluitplaten</li>
    <li> 32-33 : Oplegvoorzieningen</li>
    <li> 32-34 : Inspectievoorzieningen</li>
    <li> 32-35 : Rioleringen en afvoer van water voor kunstwerken</li>
    <li> 32-36 : Taludbekleding kunstwerken</li>
    <li> 32-37 : Voorzieningen voor verlichting op de brug</li>
    <li> 32-38 : Vergrendelingsvoorzieningen voor beweegbare bruggen</li>
    <li> 32-39 : Kabels en trekstaven</li>
    <li> 32-40 : Uitbalanceren van beweegbare bruggen</li>
    <li> 32-41 : Rolopleggingen en geleidingswielen</li>
    <li> 1 : Algemene Administratieve Voorschriften</li>
    <li> 1-4 : Administratieve voorschriften bij toepassing van het KB uitvoering</li>
    <li> 2 : Algemene Bepalingen</li>
    <li> 2-12 : Documenten opgemaakt door de aannemer</li>
    <li> 2-13 : Organisatie van de bouwplaats</li>
    <li> 2-14 : Bescherming, instandhouding en integriteit van bestaande constructies en werken</li>
    <li> 4 : Voorbereidende Werken en Grondwerken</li>
    <li> 4-1 : Voorbereidende werken</li>
    <li> 4-2 : Grondverzet</li>
    <li> 4-3 : Grondwerk voor bouwputten</li>
    <li> 4-4 : Grondwerk aan onbevaarbare waterlopen</li>
    <li> 4-5 : Geschikt maken zate ophoging/baanbed uitgraving</li>
    <li> 4-6 : Profileren van sloten</li>
    <li> 4-7 : Wapenen van bodem (hellingen/taluds)</li>
    <li> 4-8 : Grondwerk ten behoeve van natuurbouw</li>
    <li> 4-9 : Profileren van bermen</li>
    <li> 4-10 : Verwerken van teelaarde en andere bodemsubstraten</li>
    <li> 4-11 : Detecteren, opsporen en ruimen van CTE</li>
    <li> 4-20 : Verlagen van het grondwaterpeil</li>
    <li> 4-21 : Grondwerk ten behoeve van vooroever, strand en duin</li>
    <li> 4-24 : Aanvulling met licht aanvulmateriaal</li>
    <li> 5 : Onderfunderingen en Funderingen</li>
    <li> 5-1 : Bescherming van de onderfundering of fundering</li>
    <li> 5-2 : Wapenen van de onderfundering of fundering</li>
    <li> 5-3 : Onderfunderingen</li>
    <li> 5-4 : Fundering</li>
    <li> 6 : Verhardingen</li>
    <li> 6-1 : Cementbetonverhardingen</li>
    <li> 6-2 : Bitumineuze verhardingen</li>
    <li> 6-3 : Bestratingen</li>
    <li> 6-4 : Andere verhardingen</li>
    <li> 6-10 : Verhardingen van staalvezelgewapend beton voor een kaaiplateau</li>
    <li> 7 : Rioleringen en Afvoer van Water</li>
    <li> 7-1 : Riolering en afvoer van water aangelegd in een sleuf</li>
    <li> 7-2 : Doorpersingen</li>
    <li> 7-3 : Toegangs- en verbindingsputten</li>
    <li> 7-5 : Aansluitingen op de riolering</li>
    <li> 7-6 : Rioleringsonderdelen</li>
    <li> 7-7 : Persleidingen</li>
    <li> 7-8 : Draineringen</li>
    <li> 7-9 : Opvullen van riool- en/of mantelbuizen met vloeibaar beton</li>
    <li> 7-10 : Rioolrenovatie door lining met ter plaatse uitgeharde buis naadvilt door inversie</li>
    <li> 7-11 : Rioolrenovatie door het aanbrengen van guniteermortel via de natte spuitmethode of handmatig</li>
    <li> aangebracht voor lokale reparaties</li>
    <li> 7-12 : Rioolrenovatie door lining met ter plaatse uitgeharde buis</li>
    <li> 7-13 : Rioolrenovatie door middel van buis in buissysteem met HDPE-wandversterkte buizen met gladde</li>
    <li> binnenwand</li>
    <li> 7-14 : Rioolrenovatie door middel van buis in buissysteem met hard PVC wikkelbuizen</li>
    <li> 7-15 : Rioolrenovatie door middel van buis in buissysteem met standaardbuizen (sliplining) met</li>
    <li> glasvezelversterkte polyesterbuizen (GVP)</li>
    <li> 7-16 : Rioolrenovatie door middel van buis in buissysteem met aan de vorm aangepaste buizen</li>
    <li> (sliplining) met glasvezelversterkte polyester elementen (GVP)</li>
    <li> 7-17 : Rioolrenovatie door middel van glasvezelversterkte polyester (GVP) panelen</li>
    <li> 7-18 : Waterdichting door middel van injectieharsen in structuren met diameter kleiner dan of</li>
    <li> gelijk aan 800mm</li>
    <li> 7-19 : Rioolrenovatie en corrosiebescherming door middel van solventvrije kunstharsen</li>
    <li> 7-20 : Waterdichting door middel van injectieharsen in mantoegankelijke structuren</li>
    <li> 7-21 : Herstelling van lekkende voegverbindingen en grindnesten door middel van het plaatsen van</li>
    <li> inox manchetten in buisleidingen</li>
    <li> 7-22 : Rioolrenovatie met geprefabriceerde keramische elementen</li>
    <li> 7-23 : Rioolrenovatie d.m.v. HDPE/grout liner</li>
    <li> 7-24 : Rioolrenovatie door middel van deelrenovatie met glasvezelversterkt kunsthars</li>
    <li> 7-25 : Rioolrenovatie door middel van close-fit lining met fabrieksmatig gevouwen HDPE-buizen</li>
    <li> 7-26 : Rioolrenovatie door middel van pipe-bursting</li>
    <li> 7-40 : Visuele onderzoeksmethoden</li>
    <li> 7-41 : Schadeclassificatie van rioleringsnetten</li>
    <li> 8 : Lijnvormige Elementen</li>
    <li> 8-1 : Trottoirbanden (borduren), trottoirbanden-watergreppels en schampkanten</li>
    <li> 8-2 : Afschermende constructies voor wegen</li>
    <li> 8-3 : Ter plaatse vervaardigde en geprefabriceerde betonnen kantstroken en watergreppels</li>
    <li> 8-4 : Geluidswerende constructies</li>
    <li> 8-10 : Afschermende constructies</li>
    <li> 9 : Allerhande Werken</li>
    <li> 9-1 : Zandcement of Granulaatcement</li>
    <li> 9-2 : Schraal beton</li>
    <li> 9-3 : Beton</li>
    <li> 9-4 : Metselwerk van metselstenen</li>
    <li> 9-5 : Metselwerk van natuurstenen</li>
    <li> 9-6 : Cementering van metselwerk</li>
    <li> 9-7 : Bescherming van de cementering</li>
    <li> 9-9 : Drainerende wandbedekking</li>
    <li> 9-10 : Drainerend scherm achter verticale wanden</li>
    <li> 9-11 : Drainerend scherm met dichtingsmembraan achter verticale wanden</li>
    <li> 9-12 : Geprefabriceerde rechthoekige koker van gewapend beton</li>
    <li> 9-13 : Voegbanden voor betonconstructies</li>
    <li> 32-42 : Dempingssysteem voor voetgangersbruggen</li>
    <li> 32-61 : Bolders en meerogen</li>
    <li> 32-62 : Haalkommen en haalpennen</li>
    <li> 32-63 : Fenders</li>
    <li> 32-64 : Wrijf- en bergbalken</li>
    <li> 32-65 : Beschermingsprofielen</li>
    <li> 32-66 : Ladders</li>
    <li> 32-67 : Geleidingsvoorzieningen</li>
    <li> 32-68 : Geleidingsbeugels</li>
    <li> 32-69 : Afdekplaatjes voor de grondankers</li>
    <li> 32-81 : Afdichtingsprofielen en pakkingen in rubber</li>
    <li> 32-82 : Aanslagbalken</li>
    <li> 32-83 : Ultra hoog moleculair polyethyleen (UHMWPE)</li>
    <li> 32-91 : Uitbalanceren pontons</li>
    <li> 33 : Conserveringswerken</li>
    <li> 33-1 : Conservering van staal</li>
    <li> 33-2 : Conservering van beton</li>
    <li> 33-3 : Conservering van hout</li>
    <li> 34 : Herstellingswerken</li>
    <li> 34-1 : Herstellen van betonconstructies</li>
    <li> 34-2 : Herstellen van oevers met niet-verzakte betonnen taludplaten door opvullen van</li>
    <li> uitspoelingsholten met behulp van boor- en injectietechnieken</li>
    <li> 34-3 : Herstellen van oevers met verzakte betonnen taludplaten met volledig uitgerust ponton met</li>
    <li> speciale caisson</li>
    <li> 34-4 : Injecteren van holten in massieven of achter bekledingen</li>
    <li> 34-5 : Injecteren van scheuren in beton</li>
    <li> 34-6 : Opvijzelen en neerlaten van het brugdek</li>
    <li> 35 : Indienststellingsproeven en inpassingsonderzoek</li>
    <li> 35-1 : Indienststellingsproeven</li>
    <li> 35-2 : Inpassingsonderzoek</li>
    <li> 36 : Documentering van de uitvoering, as-builtdossier, post-interventiedossier</li>
    <li> 36-2 : As-builtdossier</li>
    <li> 36-3 : Post-interventiedossier</li>
    <li> 46 : Leidingen</li>
    <li> 46-1 : Elektrische kabels</li>
    <li> 46-2 : Blazen van glasvezelkabels</li>
    <li> 46-3 : Plaatsen van kabels en voerbuizen</li>
    <li> 46-4 : Beheer van kabels</li>
    <li> 50 : Dynamische verkeersmanagement en verkeershandhavingsstystemen</li>
    <li> 50-1 : Dynamisch verkeersmanagement</li>
    <li> 50-2 : Verkeershandhavingssystemen</li>
    <li> 3 : Materialen</li>
    <li> 3-1 : Rots</li>
    <li> 3-2 : Primaire en gerecycleerde en secundaire granulaten</li>
    <li> 3-3 : Grond</li>
    <li> 3-4 : Afdekingsmaterialen voor bermen en taluds</li>
    <li> 3-5 : Ophogings- en aanvullingsmaterialen</li>
    <li> 3-6 : Bouwzand</li>
    <li> 3-7 : Steenslag, rolgrind, ruwe steen en brokken puin</li>
    <li> 3-8 : Cement en hydraulische bindmiddelen</li>
    <li> 3-9 : Kalk</li>
    <li> 3-10 : Vulstoffen en toevoegstels voor bitumineuze mengsels</li>
    <li> 3-11 : Koolwaterstofproducten</li>
    <li> 3-12 : Metaalproducten</li>
    <li> 3-13 : Geokunststoffen (geosynthetics - geofabrics)</li>
    <li> 3-14 : Banden voor diverse toepassingen</li>
    <li> 3-15 : Betonoppervlakbehandelingsproducten</li>
    <li> 3-16 : Voegvullingsproducten</li>
    <li> 3-17 : Materialen voor voegen</li>
    <li> 3-18 : Voeginlagen</li>
    <li> 3-19 : Kleefvernis</li>
    <li> 3-20 : Hulpstoffen en toevoegsels voor mortel en beton</li>
    <li> 3-21 : Natuursteen</li>
    <li> 3-22 : Calciumchloride</li>
    <li> 3-23 : Bestratingselementen</li>
    <li> 3-24 : Buizen en hulpstukken voor riolering en afvoer van water</li>
    <li> 3-25 : Afdichtingsringen en krimpmoffen</li>
    <li> 3-26 : Materialen voor draineerleidingen</li>
    <li> 3-27 : Metselstenen</li>
    <li> 3-28 : Draineerelementen van poreus beton</li>
    <li> 3-29 : Gewapend bitumen voor afdichtingslagen</li>
    <li> 3-31 : Natuurstenen trottoirbanden (borduren)</li>
    <li> 3-32 : Geprefabriceerde lijnvormige elementen van beton voor wegenbouw</li>
    <li> 3-33 : Geprefabriceerde betonnen toegangs- en verbindingsputten</li>
    <li> 3-34 : Geprefabriceerde gewapende betonnen polygonale segmenten voor afzinkputten</li>
    <li> 3-35 : Geprefabriceerde grestoegangs- of verbindingsput</li>
    <li> 3-36 : Kunststof toegangs- en verbindingsputten</li>
    <li> 3-37 : Geprefabriceerde rechthoekige koker van gewapend beton</li>
    <li> 3-38 : Geprefabriceerde huisaansluitputjes</li>
    <li> 3-40 : Geprefabriceerde betonnen bakken voor straat- of trottoirkolken</li>
    <li> 3-41 : Geprefabriceerde kop- en keermuren van gewapend beton</li>
    <li> 3-42 : Taludgoten, begin- en eindstukken van beton</li>
    <li> 3-43 : Bekleding van betonbuizen en toegangs- of verbindingsputten</li>
    <li> 3-44 : Kunsthars</li>
    <li> 3-45 : Glasvezelversterkte kunststoffen</li>
    <li> 3-46 : Glasvezelversterkte betonnen schaaldelen</li>
    <li> 3-47 : Geprefabriceerde profielelementen</li>
    <li> 3-48 : Geprefabriceerde betonelementen voor drainerende talud- en/of bodembekleding</li>
    <li> 3-49 : Geprefabriceerde betonelementen voor teenversterking en damwanden</li>
    <li> 3-50 : Houten elementen voor teen- en taludversterkingen</li>
    <li> 3-51 : Geprefabriceerde betonnen afvoergoten met metalen rooster</li>
    <li> 3-52 : Betonzuilen voor taludbescherming</li>
    <li> 3-53 : Coating voor verkeerstekens</li>
    <li> 3-54 : Bekledingsmateriaal voor niet-inwendig verlichte verkeersborden</li>
    <li> 3-55 : Sokkels voor verkeerstekens</li>
    <li> 3-56 : Chemische verankeringen</li>
    <li> 3-57 : Colloïdaal beton</li>
    <li> 3-58 : Geprefabriceerde gewapend betonnen afsluitplaten</li>
    <li> 3-59 : Trottoirpaaltjes</li>
    <li> 3-61 : Meststoffen</li>
    <li> 3-62 : Bodemverbeteringsmiddelen</li>
    <li> 3-63 : Zaden</li>
    <li> 3-64 : Graszoden</li>
    <li> 3-65 : Materialen voor boomsteunen</li>
    <li> 3-66 : Houtachtige gewassen</li>
    <li> 3-67 : Kruidachtige vegetaties</li>
    <li> 3-68 : Water- en oeverplanten</li>
    <li> 3-69 : Biologisch afbreekbare geotextielen</li>
    <li> 3-70 : Rioolrenovatieproducten</li>
    <li> 3-71 : Droge hydraulische mortel</li>
    <li> 3-72 : Geprefabriceerde gewapende betonnen polygonale of cirkelvormige segmenten voor afzinkputten</li>
    <li> 3-73 : Metsel- en pleistermortel</li>
    <li> 3-74 : Sneldrogende voegmortel</li>
    <li> 3-75 : Biologisch afbreekbare, niet houtige elementen voor teen- en taludversterkingen</li>
    <li> 3-76 : Bevestigingsmiddelen voor erosiewerende elementen</li>
    <li> 3-77 : Materialen voor wortelruimte onder een verharding</li>
    <li> 3-78 : Mobiele afsluiting</li>
    <li> 3-79 : Grondwaterpeilbuizen</li>
    <li> 3-80 : Boomplaten</li>
    <li> 3-81 : Beschermingselement voor aanplantingen</li>
    <li> 3-82 : Afschermende constructies</li>
    <li> 3-83 : Wortelgeleidingsplaten</li>
    <li> 3-84 : Krimpgecompenseerde aangietmortels</li>
    <li> 3-85 : Kunstmatige gietrand</li>
    <li> 3-86 : Zelfverdichtend beton</li>
    <li> 47 : Processturingen</li>
    <li> 47-1 : PLC</li>
    <li> 48a : Teletechniek</li>
    <li> 48b : Afstandsbewaking en besturing</li>
    <li> 48c : Telematicatoepassingen</li>
    <li> 48d : Telematica security</li>
    <li> 48a-1 : Gebruik van het telematica IP netwerk</li>
    <li> 48a-2 : Gebruik van het transportnetwerk</li>
    <li> 48b-2 : Projectmatige eisen</li>
    <li> 48b-3 : Generieke technische eisen</li>
    <li> 48b-4 : Specifieke applicaties</li>
    <li> 48c-1 : Projectmatige eisen</li>
    <li> 48c-2 : Generieke technische eisen</li>
    <li> 48c-3 : Specifieke applicaties</li>
    <li> 48d-1 : ICT- en informatiebeveiligingsbeleid</li>
    <li> 48d-2 : Speciefieke beveiligingsmaatregelen</li>
    <li> 49 : Verlichting</li>
    <li> 49-1 : Lampen</li>
    <li> 49-2 : Voorschakelapparatuur</li>
    <li> 49-3 : Verlichtingstoestellen</li>
    <li> 49-4 : Lichtmasten</li>
    <li> 49-5 : Besturing, bediening en bewaking van wegverlichtingsinstallaties</li>
    <li> 51 : Overige systemen langs wegen</li>
    <li> 52 : Systemen langs waterwegen</li>
    <li> 53 : Tunnels</li>
    <li> 51-1 : Lichtseininstallaties</li>
    <li> 51-2 : Inwendig verlichte signaalborden</li>
    <li> 51-3 : Afbakening</li>
    <li> 51-4 : Steunen voor signaleringsinstallaties</li>
    <li> 51-5 : Meet, detectie en monitoring apparatuur</li>
    <li> 52-2 : Seinlantaarns</li>
    <li> 52-3 : Peilmetingen en peildetecties</li>
    <li> 52-4 : Elektische slagbomen</li>
    <li> 53-1 : Elektromechanische installaties</li>
    <li> 41 : Mechanica algemeen</li>
    <li> 42 : Elektrische machines en apparatuur</li>
    <li> 43 : Werkingsprincipes van beweegbare kunstwerken</li>
    <li> 44 : Oleohydraulica</li>
    <li> 45 : Waterhydraulica</li>
    <li> 45-2 : Pompen</li>
    <li> 45-3 : Appendages</li>
    <li> 45-4 : Leidingen</li>
    <li> 44-2 : Constructieve schikkingen</li>
    <li> 43-2 : Beweegbare bruggen</li>
    <li> 43-3 : Sluizen</li>
    <li> 43-4 : Stuwen</li>
    <li> 42-2 : Driefasige vermogentransformatoren</li>
    <li> 42-3 : Motoren</li>
    <li> 42-4 : Stroomvoorzieningen</li>
    <li> 42-5 : Hoogspanningscabines</li>
    <li> 42-6 : Laagspanningsschakelinrichtingen</li>
    <li> 42-7 : Overigeapparatuur</li>
    <li> 41-2 : Ontwerp</li>
    <li> 41-3 : Uitvoering</li>
    <li> 41-4 : Aandrijf- en afremelementen</li>
    <li> 41-5 : Overbrengingselementen</li>
    <li> 41-6 : Ophangings-, bedienings- en geleidingselementen</li>
    <li> 41-7 : Bevestigingselementen</li>
    <li> 41-8 : Beschermingselementen</li>
    <li> 41-9 : Smering</li>
    <li> 3-87 : Geluidswerende constructies</li>
    <li> 3-88 : Bodemafdekkende middelen</li>
    <li> 3-90 : Markeringsproducten</li>
    <li> 3-91 : Glasparels en stroefmakende middelen voor markeringsproducten</li>
    <li> 3-93 : Kunststofladders</li>
    <li> 3-94 : Looproosterelementen</li>
    <li> 3-95 : Metalen afsluiting met draadgaas</li>
    <li> 3-96 : Metalen toegangspoort</li>
    <li> 3-97 : Kunststofinfiltratiekratten</li>
    <li> DIV1 : Diverse 1</li>
    <li> DIV2 : Diverse 2 - NIET GEBRUIKEN!</li>
</ul>
</body>
</html>
